body {
	padding-top: 40px;
    width: 400px;
    margin: auto;
	font-family: Calibri, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #EEEEEE;
}

h1 {
	text-align:center;
}

form {
	padding-top: 40px;
}

.red {
	color: red;
}

.center {
	text-align: center;
}